.countryImg {
  text-align: center;
  margin: 0 auto;
  img {
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 117px;
    height: 77px;
  }
}
.button {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  background-color: #ffffff;
  button {
    background-color: #f16811;
    color: #ffffff;
    border: none;
    padding: 5px 30px;
    border-radius: 25px;
    margin: 10px 0;
    font-size: 9px;
  }
}
