.recruit_wrapper {
  margin: 40px 0;
}

.head {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  max-width: 458px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 700;
}
.content {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  max-width: 699px;
  font-size: 18px;
  font-weight: 400;
  color: #4f4f4f;
}
