.card_wrapper {
  box-shadow: 0px 104px 217px #f1f5fd, 0px 13px 27px #ebeef6;
  border-radius: 10px;
  text-align: center;
  padding: 40px 25px;
  span {
    font-size: 80px;
    color: #f47f20;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    max-width: 263px;
    text-align: center;
    margin: auto;
  }
}
